* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", serif;
  /* font-family: "Montserrat", serif; */
  background-color: #101820;
}
.container {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section {
  height: 100vh;
}
#section-1 {
  background-color: #101820;
}
#section-2 {
  background-color: #d1d1d1;
}
#section-3 {
  background-color: #101820;
}
#section-4 {
  background-color: #d1d1d1;
}
.page-1 {
  display: flex;
  flex-direction: column;
}
.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.logo-wrap h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.logo-wrap h2 {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: bold;
}
.intro-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}
.my-image {
  width: 400px;
  height: 466px;
}
strong {
  font-weight: bold;
}
.intro-wrap h1 {
  font-family: "Montserrat", serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}
.intro-wrap p {
  font-size: 16px;
  color: #d1d1d1;
  line-height: 1.5;
  margin-bottom: 30px;
}
.intro-wrap span {
  color: #fc4c02;
}
.my-dream {
  font-style: italic;
  color: #75787b;
  font-size: 20px;
  text-align: center;
}
/* 네비게이션 영역 */
.navigator {
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 1%;
  margin-top: -65px;
}
.navigator ul li {
  width: 100px;
  height: 20px;
  margin: 10px;
  /* border: 1px solid rgb(87, 87, 87); */
}
.navigator ul li a {
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  text-decoration: none;
}
.navigator ul li a .nav-name {
  position: absolute;
  margin-right: 10px;
  color: #d1d1d1;
  clip: rect(0, 0, 0, 0); /* 대상 숨기기 */
  transition: 0.3s;
}
.navigator ul li a .nav-point {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #d1d1d1;
  transition: 0.3s;
}
.navigator ul li a:hover .nav-name {
  clip: auto; /* clip 속성 제거 */
  position: relative;
  transition: 0.3s;
}
.navigator ul li a:hover .nav-point {
  width: 12px;
  height: 12px;
  position: relative;
  left: 4px;
  transition: 0.3s;
}
/* 
a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #c2b4ab;
  transition: 0.3s;
}
/* dashboard */
/* .dashboard {
  margin-top: 70px;
}
h1 {
  font-family: "Montserrat", serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  color: black;
  line-height: 1.5;
  margin-bottom: 40px;
}
span {
  color: #9ccb3d;
} */

/* recent-menu */
/* .recent-menu {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: bold;
  color: #c2b4ab;
  text-align: right;
  margin-top: 70px;
} */

/* Footer */
/* footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}
.contact {
  font-family: "Montserrat", serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}
.links a {
  font-family: "Montserrat", serif;
  margin: 0 10px;
  transition: 0.3s;
}

.links p {
  font-family: "Noto Sans KR", serif;
  font-style: italic;
  font-size: 14px;
  color: #c2b4ab;
  text-align: center;
  margin: 20px 0px;
} */

/* INFO 페이지 작업 */
/* .profile-section {
  display: flex;
  margin-top: 70px;
}
#profile-picture {
  width: 400px;
  margin-right: 60px;
}
.introduction {
  display: flex;
  flex-direction: column;
}
#capability {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}
.value-menu {
  font-family: "Montserrat", serif;
  font-size: 35px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.value-section {
  display: flex;
  flex-direction: column;
} */
/* .value {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
/* .value-icon {
  width: 250px;
  height: 140px;
  border: 1px solid #c2b4ab;
  border-radius: 10px;
}
.value-intro {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.value-name {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.value-exp {
  font-size: 16px;
}  
*/
